@model CapiMotors.Services.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group search">
        <div class="input-group" id="search">
            @Html.TextBoxFor(a => a.Search, new { @class = "form-control", placeholder = "" })
            <i class="input-group-addon">
                <span class="material-icons">
                    search
                </span>
            </i>
        </div>
    </div>
}

<div class="sale">
    @foreach (var vehicle in Model.Vehicles)
    {
    <div class="card  container" style="width: 18rem;">
        <img class="card-img-top" src="~/images/@vehicle.MainImageName" alt="Card image cap">
        <p class="card-text">@vehicle.Make @vehicle.Model</p>
        <p>R @vehicle.Price</p>
        <a class="btn btn-info Details" asp-action="Details" asp-controller="Vehicle" asp-route-id="@vehicle.Id">Details</a>
        <div class="card-body">

        </div>
    </div>
    }
</div>



