@model CapiMotors.Services.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="sale">
    @foreach (var vehicle in Model.Vehicles)
    {
   
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            @switch (vehicle.Status)
            {
                case StatusType.Published:
                    <span class="badge badge-success">@StatusType.Published</span>
                    break;
                case StatusType.Archived:
                    <span class="badge badge-warning">@StatusType.Archived</span>
                    break;
                case StatusType.Drafted:
                    <span class="badge badge-dark">@StatusType.Drafted</span>
                    break;
            }
            <img class="bd-placeholder-img card-img-top" src="~/images/@vehicle.MainImageName" alt="Card image cap" />
            <div class="card-body">
                <p class="card-text">
                    @vehicle.Make @vehicle.Model <br />
                    @string.Format("{0:c}", vehicle.Price)
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="Vehicle" asp-route-id="@vehicle.Id">View</a>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="Vehicle" asp-route-id="@vehicle.Id">Edit</a>
                        <a class="btn btn-sm btn-outline-secondary js-cancel-vehicle" data-vehicle-id="@vehicle.Id">Cancel</a>
                    </div>
                    <div class="notificaton">
                        <a asp-action="Notification" asp-controller="Notification" asp-route-id="@vehicle.Id" class="material-icons">
                            email
                        </a>
                        <span class="message-count"><span class="digit">@Model.Notifications.Where(n => n.VehicleId == vehicle.Id).Count()</span></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-vehicle").click(function (e) {
                var link = $(e.target);


                if (confirm("Are you sure you want to remove this Vehicle")) {
                    $.ajax({
                        url: "api/vehicle/cancel",
                        data: { id: link.attr("data-vehicle-id")}
                    })
                        .done(function () {
                            link.parent("div").parent("div").parent("div").parent("div").fadeOut(function () {
                                $(this).remove();
                            })
                        })
                        
                }
            });
        });
    </script>
}
