@model CapiMotors.Services.ViewModels.VehicleViewModel

@{
    ViewData["Title"] = "View";
}

<div class="sale">
    @foreach (var vehicle in Model.Vehicles)
    {
    <div class="card card-index-page container" style="width: 18rem;">
        <a asp-action="Notification" asp-controller="Notification" asp-route-id="@vehicle.Id" class="material-icons">
            email
        </a>
        <span class="message-count"><span class="digit">@Model.Notifications.Where(n => n.VehicleId == vehicle.Id).Count()</span></span>

        @switch (vehicle.Status)
        {
            case StatusType.Published:
                <span class="badge badge-success">@StatusType.Published</span>
                break;
            case StatusType.Archived:
                <span class="badge badge-warning">@StatusType.Archived</span>
                break;
            case StatusType.Drafted:
                <span class="badge badge-dark">@StatusType.Drafted</span>
                break;
        }

        <img class="card-img-top" src="~/images/@vehicle.MainImageName" alt="Card image cap">
        <a class="btn btn-info" asp-action="Details" asp-controller="Vehicle" asp-route-id="@vehicle.Id">Details</a>
        <div class="card-body">
            <p class="card-text">@vehicle.Make @vehicle.Model</p>
            <p>R @vehicle.Price</p>
            <div class="vehicle-buttons">
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Vehicle" asp-route-id="@vehicle.Id">Edit</a>
                <a class="btn btn-danger js-cancel-vehicle" data-vehicle-id="@vehicle.Id">Cancel</a>
            </div>
        </div>
    </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-vehicle").click(function (e) {
                var link = $(e.target);


                if (confirm("Are you sure you want to remove this Vehicle")) {
                    $.ajax({
                        url: "api/vehicle/" + link.attr("data-vehicle-id"),
                    })
                        .done(function () {
                            link.parent("div").parent("div").parent("div").fadeOut(function () {
                                $(this).remove();
                            })
                        })
                        
                }
            });
        });
    </script>
}
