@model IEnumerable<CapiMotors.Models.Vehicle>

@{
    ViewData["Title"] = "View";
}

<div class="sale">
    @foreach (var vehicle in Model)
    {
    <div class="card container" style="width: 18rem;">
        <img class="card-img-top" src="~/images/@vehicle.MainImageName" alt="Card image cap">
        <a class="btn btn-info" asp-action="Details" asp-controller="Vehicle" asp-route-id="@vehicle.Id">Details</a>
        <div class="card-body">
            <p class="card-text">@vehicle.Make @vehicle.Model</p>
            <p>R @vehicle.Price</p>
            <a class="btn btn-primary" asp-action="" asp-controller="" asp-route-id="@vehicle.Id">Edit</a>
            <a class="btn btn-danger js-cancel-vehicle" data-vehicle-id="@vehicle.Id" >Cancel</a>
        </div>

    </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-vehicle").click(function (e) {
                var link = $(e.target);


                if (confirm("Are you sure you want to remove this Vehicle")) {
                    $.ajax({
                        url: "api/vehicle/" + link.attr("data-vehicle-id"),
                    })
                        .done(function () {
                            link.parent("div").parent("div").fadeOut(function () {
                                $(this).remove();
                            })
                        })
                        
                }
            });
        });
    </script>
}
