@model CapiMotors.Services.ViewModels.VehicleInfoViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">
                @Model.Vehicle.Make
                <small>@Model.Vehicle.Model</small>
            </h1>

        </div>
        <div class="col-md-4">
            <button class="btn btn-primary my-4" data-target="#contactModal" data-toggle="modal">Find out more</button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid image1" src="~/images/@Model.Vehicle.MainImageName" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Vehicle Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3 class="my-3">Details</h3>
            <ul>
                <li>@string.Format("{0:c}", Model.Vehicle.Price)</li>
                <li>Color-@Model.Vehicle.Colour</li>
                @if (Model.Vehicle.SunRoof)
                {
                    <li>SunRoof</li>
                }
                @if (Model.Vehicle.TowBar)
                {
                    <li>Towbar</li>
                }
                @if (Model.Vehicle.PreviouslyOwned)
                {
                    <li>Previously Owned</li>
                }
                else
                {
                    <li>New</li>
                }
            </ul>
        </div>
    </div>

    <h3 class="my-4">More Images</h3>

    <div class="row">
        @foreach (var img in Model.ImagesNames)
        {

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="image-toggle">
                    <img class="img-fluid image2" src="~/images/@img" alt="">
                </div>
            </div>

        }

    </div>
</div>

<div class="info-container">
    <div class=" image-slider">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="modal" id="contactModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="Notification" asp-action="AddNotification" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Phone" class="control-label"></label>
                                            <input asp-for="Phone" class="form-control" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" style="display:none">
                                            <input asp-for="VehicleId" value="@Model.Vehicle.Id" class="form-control" />
                                            <input asp-for="SellerId" value="@Model.Vehicle.SellerId" class="form-control" />
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-primary">Contact the Dealer</button>
                                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br />
    

    @section Scripts {

        <script>
            $(document).ready(function () {
              

                $(".image-toggle").hover( function (e) {
                    $(".image1").attr("src", e.target.getAttribute('src'))
                })


            })
        </script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
