@model CapiMotors.Services.ViewModels.VehicleFormViewModel

@{
    ViewData["Title"] = "VehicleForm";
}

<h1>@Model.Action Sale</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Vehicle" asp-action=@Model.Action method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PreviouslyOwned" /> @Html.DisplayNameFor(model => model.PreviouslyOwned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TowBar" /> @Html.DisplayNameFor(model => model.TowBar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SunRoof" /> @Html.DisplayNameFor(model => model.SunRoof)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MainImage" class="control-label">Cover Image</label>
                <input asp-for="MainImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OtherImages" class="control-label">Other Images</label>
                <input multiple asp-for="OtherImages" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                @Html.DropDownListFor(d => d.Status, Html.GetEnumSelectList<StatusType>(), "Select", new { @class = "form-control" })
            </div>
            @if (Model.Action == "Update")
            {
                <div class="form-group" style="display:none">
                    <input asp-for="Id" value="@Model.Id" class="form-control" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
